body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111;
    font-family:Arial;
}

.box{
    background:#1e1e1e;
    padding:40px;
    border-radius:15px;
    width:300px;
    text-align:center;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:8px;
}

button{
    width:100%;
    padding:12px;
    background:#2bb7a4;
    border:none;
    border-radius:8px;
    color:white;
    cursor:pointer;
}

h2{
    color:white;
}


body{
    background:linear-gradient(135deg, #111, #333);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.box{
    background:white;
    width:100%;
    max-width:400px;
    padding:30px;
    border-radius:20px;
    box-shadow:0 6px 20px rgba(0,0,0,0.2);
}

.box h2{
    text-align:center;
    margin-bottom:25px;
    color:#222;
}

.box input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:12px;
    outline:none;
    font-size:15px;
}

.box button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#111;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.2s;
}

.box button:hover{
    opacity:0.9;
}

@media(max-width:480px){

    .box{
        padding:22px;
        border-radius:16px;
    }

    .box h2{
        font-size:22px;
    }
}